<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Access Denied</title>
</head>
<body>
<section layout:fragment="content">
    <div class="alert alert-danger text-center mt-5">
        <h2>Accès refusé</h2>
        <p>Vous n’avez pas le droit d’accéder à cette page.</p>
        <a th:href="@{/products/all}" class="btn btn-primary">
            Retour à la liste
        </a>
    </div>
</section>
</body>
</html>
